<form [formGroup]="signUpForm" novalidate (ngSubmit)="onSubmit()" class="col-md-4 offset-4">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>
          <div class="mat-typography">
            <h1>MOODE / ENREGISTREMENT</h1>
          </div>
         </mat-card-title>
      </mat-card-header>
        <br>
      <mat-card-content>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="full-width" appearance="outline">
              <input matInput placeholder="Adresse email" formControlName="email">
              <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
                L'adresse email est <strong>obligatoire</strong>
              </mat-error>
              <mat-error *ngIf="signUpForm.controls['email'].hasError('pattern')">
                Saisir une <strong>adresse email valide.</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <br>
          <div class="col-md-12">
            <mat-form-field class="full-width" appearance="outline">
              <input matInput type="password" placeholder="Mot de passe" formControlName="password">
              <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
                Le mot de passe <strong>est obligatoire</strong>
              </mat-error>
              <mat-error *ngIf="signUpForm.controls['password'].hasError('minlength')">
                Le mot de passe doit contenir <strong>au moins 8 caractères</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <br>
          <div class="col-md-12">
            <mat-form-field class="full-width" appearance="outline">
              <input matInput type="password" placeholder="Confirmation Mot de passe" formControlName="passwordConf">
              <mat-error *ngIf="signUpForm.controls['passwordConf'].hasError('required')">
                Le champs confirmation mot de passe <strong>est obligatoire</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-7 offset-5">
            <p>Déjà enregistrer? <a routerLink="../authentification">Connecter-vous</a></p>
          </div>
        </div>
      </mat-card-content>
      <div class="row">
        <div class="col-md-2 offset-8">
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">S'enregistrer</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </form>
  