<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" class="col-md-4 offset-4">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>
        <div class="mat-typography">
          <h1>MOODE / AUTHENTIFICATION</h1>
        </div>
      </mat-card-title>
    </mat-card-header>
      <br>
    <mat-card-content>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Adresse email" formControlName="email">
            <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
              L'adresse email est <strong>obligatoire</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['email'].hasError('pattern')">
              Saisir une adresse email <strong>valide</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div class="col-md-12">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput type="password" placeholder="Mot de passe" formControlName="password">
            <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
              Le mot de passe <strong>est obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="col">
            <mat-checkbox formControlName="shipping" value="free">Rester Connecté</mat-checkbox>
          </div>
        </div>
        <div class="col-md-6">
          <p>Vous n'avez pas de compte? <a routerLink="../register">Creer un compte</a></p>
        </div>
      </div>
    </mat-card-content>
    <div class="row">
      <div class="col-md-2 offset-8">
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Connexion</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>
</form>
