<mat-nav-list>
    <div class="profile-card">
        <div class="row">
            <div class="col-md-4">
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Ben ZONGWE" />
            </div>
            <div class="col-md-8">
                <div class="header">
                    <p><i><strong><br><br>Ben ZONGWE</strong></i></p>
                    <p>benraj.200@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="./"><mat-icon>dashboard</mat-icon>Tableau de bord</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="./abonnements"><mat-icon>group_add</mat-icon>Abonnements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="./patients"><mat-icon>groups</mat-icon>Mes Patients</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="./articles"><mat-icon>folder</mat-icon>Mes Articles</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="./pubarticle"><mat-icon>text_snippet</mat-icon>Ecrire Article</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="./profile"><mat-icon>perm_identity</mat-icon>Profile</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/leads">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
</mat-nav-list>