<h1>Tableau de Bord</h1>
<mat-divider></mat-divider>
<br />

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="30">
        <app-widget-card label="Nombre des Patients" total="0" percentage="0%"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="30">
        <app-widget-card label="Nouveaux Abonnements" total="0" percentage="0%"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="30">
        <app-widget-card label="Progression" total="0" percentage="0%"></app-widget-card>
    </mat-card>
</div>

<br/>
<mat-divider></mat-divider>
<br/>

<div>
    <app-widget-area></app-widget-area>
</div>

<br/>
<mat-divider></mat-divider>
<br/>


<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <app-widget-table fxFlex="50"></app-widget-table>
    
    <app-widget-table-right fxFlex="50"></app-widget-table-right>
</div>