<div class="jumbotron">
    <h1>A Propos De Nous ...</h1>

    <h2>Qui sommes nous ?</h2>
    <p>
        Moode est une application d'intelligence artificielle developper par l'étudiant Zongwe Benoni
        de l'Ecole Supérieur d'Informatique Salama à Lubumbashi. C'est un projet d'abord amorcé pour la présentation
        de son travail de fin de cycle, puis repris pour être développer pleinement par la Startup ZedLab.
    </p>
    <h2>Besoin</h2>
    <p>
        Le besoin rechercher était de repondre à la difficulté de trouver un psychologue sur la ville de Lubumbashi.
        En suite, nous nous sommes rendus compte que la difficulté de trouver un psychologue est liée au fait que le
        nombre de personne exerçant dans ce metier est très réduit, mais cela est renforcer par l'attidude des
        populations
        africaines vis à vis de la psychologie. On a tous un jour prononcé cette phrase ; la psychologie est
        un truc de blanc.Nous sommes partie sur un seul problème mais nous nous sommes rendu compte que le problème
        était plus complèxe
        qu'il n'y parait, ce qui veut dire que la solution à laquelle nous avions pensé au début n'était plus
        applicable.
    </p>
    <h2>L'idée est née</h2>
    <p>
        Après plusieurs recherche nous sommes tombés sur le concept de chatbot et d'intelligence artificielle
        thérapeutique.
        Plusieurs chatbots (agent conversationnel) ont déjà été réalisé, mais la difficultés se résume à la barrière de
        la langue,
        en effet, ces chatbots sont soit la quasi totalité implémentés en Anglais. On peut citer notamment <a
            href="https://woebot.io">Woebot</a>
        et <a href="https://wysa.io">Wysa</a> que nous avons particulièrement trouver intéressant.
    </p>
    <h2>Notre mission</h2>
    <p>
        Notre mission se résume en plusieurs volé :
    </p>
    <ol>
        <li>La création d'un chatbot mobile pouvant permettre à un utilisateur d'avoir accès au soin de santé mentale
            facilement.</li>
        <li>La création d'un blog permettant de véhiculer la bonne information sur les vrais enjeux de la psychologie et
            ceux surtout en Afrique</li>
        <li>La création d'un espace psychologue qui permet aux psychologues de suivres l'état de leurs patients par
            ordinateurs</li>
    </ol>
    <h2>A propos de moode</h2>
    <p>
        Moode est une application thérapeutique basée sur un chatbot, il répond pratiquement à la mission que nous nous sommes fixés,
        c'est un agent conversationnel qui permet de fournir à un utilisateur tous les outils dont il à besoin pour prendre soi de lui
        régulièrement. Chaque session de chat dure près de 10 minutes, ce qui permet à l'utilisateur d'apprendre un peu plus chaque jour
        et de l'aider à eviter le plus possible les schémats de pensés négatifs.
    </p>
    <h2>En quoi est-ce si important ?</h2>
    <p>
         Selons l'<a href="https://www.who.int/fr/news-room/events/detail/2019/10/10/default-calendar/world-mental-health-day-2019-focus-on-suicide-prevention">OMS</a>, en 2019
         toutes les 40 secondes, une personne met fin à ses jours, c'est pour nous une occasion de mieux faire connaître les questions de santé
         mentale et de susciter une mobilisation dans ce domaine, d'autant plus que toujours selon l'OMS près de 80% des personnes dans les pays en voie
         de developpement manque des soins de santé mentale. Moode apporte une solution de santé mentale pouvant aidé toute personnes, il vas permettre aussi 
         d'élever le débat sur les problèmes de santé menales.
    </p>
</div> 