<div>

    <h1 class="my-4" style="font-family: cursive">Moode (0_0) |
        <small>Psychologie et Intelligence Artificielle</small>
    </h1>

    <div class="card bg-dark text-white">
        <img [src]="this.str" class="card-img" alt="..." style="height: 27rem;">
        <div class="card-img-overlay">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <p class="cardd-text"></p>
            <div class="col-3 offset-9" style="margin-top: 350px;">
                <button mat-raised-button color="primary" (click)="prevImage()"><mat-icon>skip_previous</mat-icon></button>
                <button mat-raised-button color="primary" style="margin-left: 5px;" (click)="nextImage()"><mat-icon>skip_next</mat-icon></button>
            </div>
        </div>
    </div>
</div>