<div class="container">
    <!-- Search Widget -->
  <div class="card my-4 bg-warning">
    <h5 class="card-header">L'Intélligence Artificielle au service des patients</h5>
    <div class="card-body">
      <p style="text-align: justify;">Des nouvelles techniques pour traiter les maladies mentales par la psychothérapie piloté par notre chatbot. Moode disponible pour toutes les plateformes mobiles.</p>
    </div>
  </div>

  <div class="card my-4 bg-warning">
    <h5 class="card-header">Contacter un psychologue</h5>
    <div class="card-body">
      <p style="text-align: justify;">
        Trouvez et contactez un psychologue à proximité de chez vous à n'importe quel moment de la journée à partir de notre application mobile.
      </p>
    </div>
  </div>

  <div class="card my-4 bg-warning">
    <h5 class="card-header">Télécharger l'application mobile</h5>
    <div class="card-body text-center" style="padding: 0px;">
      <a href="#">
        <span>
          <img loading="lazy" src="../../../../assets/Footer-Logo_App-Store.png" style="height: 50px;">
        </span>
      </a>
      <a href="#">
        <span>
          <img loading="lazy" src="../../../../assets/Footer-Logo_Google-Play.png" style="height: 50px;">
        </span>
      </a>
    </div>
  </div>
</div>