<div class="container">
    <!-- Search Widget -->
  <div class="card my-4">
    <h5 class="card-header">Chercher ...</h5>
    <div class="card-body">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Rechercher ...">
        <span class="input-group-append">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>

    <div class="row">
        <h2>Les Plus Lues</h2>
    </div>

    <div class="row">
        <h2>Categories</h2>
    </div>
</div>